.logo-container {
  display: block;
  padding-bottom: 20px;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  color: map-get($text-color, 'violet-light');
  display: block;
  font-size: 60px;
  font-weight: bolder;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: map-get($text-color, 'violet');
}

.logo-text {
  font-family: 'Montserrat', sans-serif;
  color: map-get($text-color, 'violet');
  font-size: 15px;
  font-weight: bold;
}
