$section-bg: (
        'grey': #e1e1e1,
        'white': #FFF
);

$component-bg: (
        'grey': #f2f2f2,
        'white': #FFF,
        'violet': #BC9CFF,
        'blue': #6870B9
);

$button-bg: (
        'default': #E1E1E1,
        'violet': #BC9CFF,
        'blue': #6870B9
);

$text-color: (
        'default': #898888,
        'dark': #434040,
        'white': #FFF,
        'violet': #34134F,
        'violet-light': #BC9CFF,
        'black': #000,
        'red': #E23861
)
